<div class="splash text-center" data-animation-step="1">
    <div class="overlay"></div>
    <div>
        <div class="animation">
            <div class="text text-center top">
                <p class="lead">Web Application Development</p>
            </div>
            <div class="device">
                <div class="phone-home-button"></div>
                <div class="tablet-home-button"></div>
                <div class="screen-stand">
                    <div class="leg"></div>
                    <div class="foot"></div>
                </div>
                <div class="display">
                    <div class="slide1">
                        <div>The world exists on the <em>web</em> now.</div>
                    </div>
                </div>
            </div>
            <div class="text text-center">
                <p class="lead">What will you build?</p>
            </div>
        </div>
    </div>
</div>